<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <h1 class="ion-text-center">IonicNews</h1>
    <p class="ion-text-center subtitle">Notícias Personalizadas</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input 
          type="email" 
          formControlName="email"
          placeholder="seu@email.com">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input 
          type="password" 
          formControlName="password"
          placeholder="Sua senha">
        </ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">
        Entrar
      </ion-button>
    </form>

    <div class="ion-text-center ion-margin-top">
      <p>Não tem conta? 
        <ion-button fill="clear" routerLink="/register">
          Cadastre-se
        </ion-button>
      </p>
    </div>
  </div>
</ion-content>
